.repoContainer {
  height: 120px;
  border-top: solid 1px lightgray;
  margin-bottom: 30px;
  width: 727px;
}
.repoName {
  color: blue;
  font-size: 20px;
}
.repoLanguage {
  font-size: 16px;
  color: gray;
}

.repoList {
  list-style-type: none;
}

.topLayer {
  display: flex;
  flex-direction: row;
}

.starButton {
  height: 30px;
  position: absolute;
  border-radius: 5px;
  width: 100px;
  left: 850px;
  margin-top: 40px;
}
.findRepo {
  flex-direction: row;
  height: 50px;
}

.findRepoSearch {
  margin-left: 50px;
  width: 400px;
  height: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.typeButton {
  height: 30px;
  border-radius: 5px;
  width: 80px;
}
.lButton {
  height: 30px;
  border-radius: 5px;
  width: 80px;
}

.nButton {
  margin-left: 50px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: rgb(100, 195, 99);
  border: 1px solid rgb(88, 168, 89);
}

.overview {
  border-bottom: 1px solid lightgray;
  height: 50px;
  margin-top: 40px;
}
.overview button {
  background-color: transparent;
  background-repeat: no repeat;
  border: none;
  outline: none;
  font-size: 20px;
  margin-right: 40px;
}

.overviewButton {
  margin-left: 40px;
}
